doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title index
    link(rel='stylesheet', type='text/css', href='./lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='./lib/css/mystyle.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
    script(src='./lib/bootstrap/js/jquery.min.js')
    script(type='text/javascript', src='./lib/bootstrap/js/bootstrap.min.js')
  body
    .container-fluid.col-12
      .row
        header
          .container
            .row.menu
              a(href='')
                i.fab.fa-facebook
              a(href='')
                i.fab.fa-instagram
              a(href='')
                i.fab.fa-twitter
              a(href='')
                i.fab.fa-youtube
      // header
      .navbar-sticky.row
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.col-12
          a.navbar-brand.my-font(href='#') PHOTOGRAPH
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item.active
                a.nav-link(href='#')
                  | Home
                  span.sr-only (current)
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Gallery
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='#') Spring
                  a.dropdown-item(href='#') Summer
                  a.dropdown-item(href='#autumn') Autumn
                  a.dropdown-item(href='#') Winter
              li.nav-item
                a.nav-link(href='#contact') Contact
              li.nav-item
                a.nav-link(href='#foo') About
              li.nav-item
                a.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true')
            form.form-inline.my-2.my-lg-0
              input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
              button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        // navbar
        // row
        .row
          .content__head.col-12
            .title.my-font
              h2.title__1
                span Travel Photograph
              h2.title__2
                span(style='font-size: 53px;') Seeing the World, Through the Eyes of My Lens
        // row
        #autumn.gallery.row
          .container
            .row
              .col-lg-4.col-sm-12
                .card(style='width: 100%; height: auto; margin-bottom: 10px;')
                  .card-img-top
                    img(src='./lib/img/11_gettyimages-487297854_resized.jpg', alt='...', width='100%')
                  .card-body
                    h6.card-title.my-font Abum Autumn 1
                // card
              .col-lg-4.col-sm-12
                .card(style='width: 100%; height: auto; margin-bottom: 10px;')
                  .card-img-top
                    img(src='./lib/img/01_gettyimages-91536913_resized.jpg', alt='...', width='100%')
                  .card-body
                    h6.card-title.my-font Abum Autumn 2
                // card
              .col-lg-4.col-sm-12
                .card(style='width: 100%; height: auto; margin-bottom: 10px;')
                  .card-img-top
                    img(src='./lib/img/13_gettyimages-550572843_resized.jpg', alt='...', width='100%')
                  .card-body
                    h6.card-title.my-font Abum Autumn 3
                // card
              .post.row
                .post__card
                  h3
                    span(style='font-size: 1.4em; font-family: Courier New, monospace; margin: 30px;') HELLO THERE!
                  p.my-font(style='margin: 30px 10% 30px 10%; text-align: justify;')
                    span
                      | I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
                // post card
                // post row
                // row
                // galerry
                .background-body.row
                // row
                #contact.contact.row
                  .container
                    .row(style='margin-top: 30px; margin-bottom: 30px;')
                      .col-lg-6.col-sm-12
                        .contact-left
                          .row
                            .col-lg-3.col-sm-6
                              .avatar
                                img(src='./lib/img/img_avatar.png', width='100%')
                            .col-lg-3.col-sm-6
                              h3(style='font-size: 2em; font-family: Bradley Hand, cursive;')
                                span CONTACT
                              h5(style='font-family: Bradley Hand, cursive; margin-bottom: 1px;') NXM
                              p(style='margin-top: 0;') ----------------------
                              p.contact1 NXM
                              p.contact1 nxm@@
                        // cont-left
                      .col-lg-6.col-sm-12
                        .contact-right.my-font
                          form(action='')
                            .space-line
                              input#name.form-control(type='text', placeholder='name')
                            .space-line
                              input#email.form-control(type='email', placeholder='name@example.com')
                            .space-line
                              input#subject.form-control(type='text', placeholder='subject')
                            .space-line
                              textarea#exampleFormControlTextarea1.form-control(rows='6')
                            .space-line.button-local
                              button.btn.btn-primary.mb-2(type='submit') Submit
                        // cont-right
                        // container
                        // row
                        .row
                          footer#foo
                            .container-fluid
                              p @Copyright2019
    // container_fluid
